{% extends 'base.html' %}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

</head>
<body>
    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
    {% block content %}
    <h3>Popular Movies</h3>
    <ul>
        {{macro.displayMovieList(popular)}}
    </ul>

    <h3>upcoming Movies</h3>
    <ul>
        {{macro.displayMovieList(upcoming)}}

    </ul>

    <h3>Now showing Movies</h3>
    <ul>
        {{macro.displayMovieList(now_showing)}}

    </ul>
    {% endblock %}
</body>
</html>